Source: confight
Section: devel
Priority: extra
Maintainer: Platform Operability <platform.operability@avature.net>
Standards-Version: 4.0.0
Build-Depends: debhelper (>= 9),
               dh-python,
               python-setuptools,
               python3-setuptools,
               python-all (>= 2.7),
               python3-all (>= 3.2),
               pandoc (>= 1.9),
               tox

Package: python3-confight
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-toml, python3-setuptools
Suggests: python3-ruamel.yaml
Description: Common config loading for Python and the command line
 .
 This package installs the library for Python 3.
