#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=confight
DESTDIR2:=debian/python-confight
DESTDIR3:=debian/python3-confight

%:
	dh $@ --with python2,python3 --buildsystem=pybuild --tests-pytest

override_dh_installman:
	./build_manpage.sh
	dh_installman --all

override_dh_compress:
	dh_compress --exclude=README.md

override_dh_auto_install:
	dh_auto_install
	cd $(DESTDIR3)/usr/bin && mv confight confight3
